<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning form</title>
</head>
<body>
    <h1>Address Page</h1>
    <!--Display Form using For Loop -->
    <form action "">
        {% for field in login %}
        {{field.label_tag}}
        {{field}}
        {% endfor %}
    </form>

     <!--Display Form using For Loop With proper input control-->
    <form action="">
        {% for field in login %}
        <label for="{{field.id_for_label}}" class="">{{field.label}}</label>
        <input class="" type="{{field.field.widget.input_type}}" name="{{field.name}}" required id="{{field.id_for_label}}"
         placeholder="{{field.field.widget.attrs.placeholder|default:''}}" value="{{field.value|default:""}}"
         required="{{field.field.required}}"><br>
        {% endfor %}
    </form>
    <br>
    {% comment %} learn hidden field your self  {% endcomment %}
    <h1>hidden field</h1>
    
        {{details}}
    
</body>
</html>